<form method="post" action="/names">
  Player1 name: <br>
  <input type="text" name="p1_name"><br>
  Player2 name: <br>
  <input type="text" name="p2_name"><br>
  <input type="submit" value="submit" />
</form>
