<body>
    <div class="upper">
      <form action="/names" method="post">
      <h1>Player1 name: </h1><br>
      <input type="text" name="p1_name"><br>
    </div>
    <div class="center">
      <input type="submit" value="Enter Battle!!" />
    </div>
    <div class="lower">
      <h1>Player2 name: </h1><br>
      <input type="text" name="p2_name"><br>
    </div>
  </form>
</body>

<style>

body {
  background-color: #0D294F;
  justify-content: center;
}

/*img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}*/


.upper {
  /*width: 460px;*/
  height: 150px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
}


.center {
  /*width: 180px;*/
  height: 100px;
  background-color: #0D4A9C;
  margin: 5px;
  padding: 10px;
}


.lower {
  /*width: 460px;*/
  height: 150px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
}


</style>
