
<body>
  <div class="left">

    <h1><%= @p1_name %></h1>
    <div class="img"><div class="dragon"><img src="http://i.imgur.com/dmsJvpc.png" alt="dragon" height="300" width="300">
    </div>
    </div>
    <h4>HP: <%= @p1_hit_points%></h4>
  </div>
  <div class="center">
    <h2>Prepare to fight!</h2>
  </div>
  <div class="right">
    <h1><%= @p2_name %> </h1>
    <div class="img"><div id="hydra"><img src="http://i.imgur.com/yAMeJcI.png" height="300" width="300">
    </div>
    </div>
    <h4>HP: <%= @p2_hit_points%></h4>
  </div>
</body>


<style>

body {
  background-color: #0D294F;
  display: flex;
  justify-content: center;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}


h2 {
  text-align: center
}


.left {
  width: 460px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
  float: left;
  text-align: left;
}


.center {
  width: 180px;
  background-color: #0D4A9C;
  margin: 5px
}


.right {
  width: 460px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
  align-content: right;
  float: right;
  text-align: right;
  align: right;
}


</style>
