
<body>
  <div class="left">

    <h3><%= @p1_name %></h3><br>
    <img src="http://i.imgur.com/dmsJvpc.png">
    <h4><%= @p1_hit_points%></h4>
  </div>
  <div class="right">
    <h3><%= @p2_name %> </h3>
    <img src="http://i.imgur.com/yAMeJcI.png">
    <h4><%= @p2_hit_points%></h4>
  </div>
  <div class="center">
  </div>

</body>
