
<body>
  <div class="left">
    <h1><%= $game.p1.name %></h1>
    <div class="img"><div class="dragon"><img src="http://i.imgur.com/dmsJvpc.png" alt="dragon" height="300" width="300">
    </div>
    </div>
    <h4>HP: <%= $game.p1.hp %></h4>
  </div>
  <div class="center">
    <h2>Prepare to fight!</h2>
    <form action="/attack" method=post>
      <input type="submit" value="Attack!">
      <input type="submit" value="Attack!!">
      <input type="submit" value="Attack!!">
      <input type="submit" value="Attack!!">
      <input type="submit" value="Attack!!">
      <input type="submit" value="Attack!!">
    </form>
  </div>
  <div class="right">
    <h1><%= $game.p2.name %> </h1>
    <div class="img"><div id="hydra"><img src="http://i.imgur.com/yAMeJcI.png" height="300" width="300">
    </div>
    </div>
    <h4>HP: <%= $game.p2.hp %></h4>
  </div>
</body>


<style>

body {
  background-color: #0D294F;
  display: flex;
  justify-content: center;
}


img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
}


h2 {
  text-align: center
}


input[type="submit"] {
  background-color: #091D38;
  border-style: solid;
  border-width: 2dpx;
  border-color: black;
  color: white;
  height: 100px;
  width: 180px;
  font-size: 16px;
}


input[type="submit"]:hover {
  background-color: #2779E8;
  transition-duration: 0.1s;
  border: none;
  color: white;
  height: 100px;
  width: 180px;
  font-size: 20px;
}


.left {
  width: 460px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
  float: left;
  text-align: left;
}


.center {
  width: 180px;
  background-color: #0D4A9C;
  margin: 5px
}


.right {
  width: 460px;
  background-color: #304869;
  margin: 15px;
  padding: 20px;
  align-content: right;
  float: right;
  text-align: right;
  align: right;
}


</style>
